.b1{
  font-family: 'Sigmar One', cursive;
  color: #757de8
}
.b2{
  margin-top: 40;
  background-color: #dbffff;
  height: 200px;
}
.b3{

}
.b4{

}
.b5{
  margin-top: 30px;
}
.b6{
 background-color: #c6ff00;
 width: 140px;
 font-weight: bold;
}
.b7{
  height: 28px;
  font-size: 18px;
}


.b8{
 margin-top: 10px;
}
.a1{
  font-size: 40px;
  font-weight: bold;
  font-family: 'Julius Sans One', sans-serif;
  color: white;
  background: #00d2ff;
  background: -webkit-linear-gradient(to left, #3a7bd5, #00d2ff);
  background: linear-gradient(to left, #3a7bd5, #00d2ff);
  }
.a2{
  margin-top: 10px;
}
